<form action="/foo/update/<%= user.id %>" method="post" >
    <h2>Vas a editar a un wey</h2>

    <input type="text" value="<%= user.nombre %>" name="nombre" >
    <input type="text" value="<%= user.nombre %>" name="email" >

    <input type="submit" value="Guardar">

</form>